@import "media";
@import "var";
@import "media";
@import "utility";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   

.app{
    min-height: 100vh;
    background: linear-gradient(rgb(109, 171, 229),rgb(67, 217, 219));
}

::-webkit-scrollbar{
    width: 0;
}

::-webkit-scrollbar-thumb{
    background: rgba(136,136,136,0.281);
    &:hover{
        background: #555;
    }
}

.messages{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}
